<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" xmlns:v="http://typo3.org/ns/FluidTYPO3/Vhs/ViewHelpers"
      data-namespace-typo3-fluid="true">
  <f:if condition="{link}">
    <f:then>
      <f:link.typolink parameter="{link}" class="{contentObject} content-object" title="{title}"
                       additionalAttributes="{id: 'c{uid}', data-type: type, data-handle: handle, data-layout: layout}">
        {text}
      </f:link.typolink>
    </f:then>

    <f:else>
      <v:tag name="{contentObject}" id="c{uid}" class="{contentObject} content-object"
             additionalAttributes="{type: type, handle: handle, layout: layout}" hideIfEmpty="false">
        {text}
      </v:tag>
    </f:else>
  </f:if>
</html>
