<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" xmlns:v="http://typo3.org/ns/FluidTYPO3/Vhs/ViewHelpers"
      data-namespace-typo3-fluid="true">
  <f:if condition="{styles}">
    <v:asset.style name="{gridElement}-{uid}-css" fluid="true" movable="false" standalone="true">
      <f:for each="{styles}" as="style">
        <f:if condition="{style.selector} == 'grid-element' || {style.selector} == 'element'">
          <f:if condition="{style.type} == 'background-color' && {style.backgroundColor}">
            #c<v:variable.get name="uid" /> { background-color: {style.backgroundColor}; }
          </f:if>

          <f:if condition="{style.type} == 'background-images' && {style.firstBackgroundImage}">
            <f:switch expression="{layout}">
              <f:case value="compact">
                #c<v:variable.get name="uid" /> { background-image: url('<v:uri.image src="{style.firstBackgroundImage.uid}" height="360c" treatIdAsReference="1" />'); }

                @media only screen and (-webkit-min-device-pixel-ratio: 1.5625), only screen and (min-resolution: 150dpi) {
                  #c<v:variable.get name="uid" /> {
                    background-image: url('<v:uri.image src="{style.firstBackgroundImage.uid}" height="720c" treatIdAsReference="1" />');
                  }
                }

                @media only screen and (min-width: 992px) {
                  #c<v:variable.get name="uid" /> {
                    background-image: url('<v:uri.image src="{style.firstBackgroundImage.uid}" height="504c" treatIdAsReference="1" />');
                  }
                }

                @media only screen and (min-width: 992px) and (-webkit-min-device-pixel-ratio: 1.5625), only screen and (min-resolution: 150dpi) {
                  #c<v:variable.get name="uid" /> {
                    background-image: url('<v:uri.image src="{style.firstBackgroundImage.uid}" height="1008c" maxW="2880" treatIdAsReference="1" />');
                  }
                }
              </f:case>

              <f:defaultCase>
                #c{uid} { background-image: url('<v:uri.image src="{style.firstBackgroundImage.uid}" height="480c" treatIdAsReference="1" />'); }

                @media only screen and (min-width: 992px) {
                  #c<v:variable.get name="uid" /> {
                    background-image: url('<v:uri.image src="{style.firstBackgroundImage.uid}" height="706c" treatIdAsReference="1" />');
                  }
                }

                @media only screen and (-webkit-min-device-pixel-ratio: 1.5625), only screen and (min-resolution: 150dpi) {
                  #c<v:variable.get name="uid" /> {
                    background-image: url('<v:uri.image src="{style.firstBackgroundImage.uid}" height="960c" treatIdAsReference="1" />');
                  }
                }

                @media only screen and (min-width: 992px) and (-webkit-min-device-pixel-ratio: 1.5625), only screen and (min-resolution: 150dpi) {
                  #c<v:variable.get name="uid" /> {
                    background-image: url('<v:uri.image src="{style.firstBackgroundImage.uid}" height="1412c" maxW="2880" treatIdAsReference="1" />');
                  }
                }
              </f:defaultCase>
            </f:switch>
          </f:if>

          <f:if condition="{style.type} == 'color' && {style.color}">
            #c<v:variable.get name="uid" /> { color: {style.color}; }
          </f:if>
        </f:if>
      </f:for>
    </v:asset.style>
  </f:if>
</html>
