<html data-namespace-typo3-fluid="true" lang="en" xmlns:b="http://typo3.org/ns/T3v/T3vBase/ViewHelpers"
      xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers">
  <b:variable name="name" value="{f:translate(extensionName: 't3v_base', key: 'contentObjects.flyoutGridElement.control.name', default: 'Control')}" />
  <b:variable name="title" value="{f:translate(extensionName: 't3v_base', key: 'contentObjects.flyoutGridElement.control.title', default: 'Control')}" />

  <button class="{gridElement}__control grid-element__control hamburger-button" title="{title}" data-layout="htx">
    <span>{name}</span>
  </button>
</html>
