<html data-namespace-typo3-fluid="true" lang="en" xmlns:b="http://typo3.org/ns/T3v/T3vBase/ViewHelpers"
      xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers">
  <f:if condition="{link}">
    <f:then>
      <f:link.typolink parameter="{link}" class="{signature} content-object" title="{title}"
                       additionalAttributes="{id: id, data-type: type, data-handle: handle, data-layout: layout}">
        {name}
      </f:link.typolink>
    </f:then>

    <f:else>
      <b:tag name="{signature}" id="{id}" class="{signature} content-object"
             additionalAttributes="{type: type, handle: handle, layout: layout}" hideIfEmpty="false" forceClosingTag="true" />
    </f:else>
  </f:if>

  <f:render partial="ContentObjects/Background/Default/Styles" arguments="{_all}" />
</html>
