<html data-namespace-typo3-fluid="true" lang="en" xmlns:b="http://typo3.org/ns/T3v/T3vBase/ViewHelpers"
      xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" xmlns:s="http://typo3.org/ns/SMS/SmsResponsiveImages/ViewHelpers">
  <f:if condition="{backgroundImage}">
    <f:if condition="{link}">
      <f:then>
        <f:link.typolink parameter="{link}" class="{signature} content-object" title="{title}"
                         additionalAttributes="{id: id, data-type: type, data-handle: handle, data-layout: layout}">
          <f:render section="Image" arguments="{_all}" />
        </f:link.typolink>
      </f:then>

      <f:else>
        <f:render section="Image" arguments="{_all}" />
      </f:else>
    </f:if>
  </f:if>

  <f:section name="Image">
    <b:variable name="maxWidth" value="1280" />

    <s:image image="{backgroundImage}" treatIdAsReference="true" srcset="{backgroundSourceSet}" width="{backgroundWidth}"
             maxWidth="maxWidth" title="{title}" alt="{alt}" additionalAttributes="{loading: 'lazy'}" />
  </f:section>
</html>
