<html data-namespace-typo3-fluid="true" lang="en" xmlns:b="http://typo3.org/ns/T3v/T3vBase/ViewHelpers"
      xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers">
  <f:layout name="GridElements/FlexboxGridElement" />

  <f:section name="GridElement">
    <f:render partial="GridElements/Shared/Header" arguments="{gridElement: gridElement, data: data}" />

    <b:tag name="div" class="{gridElement}__main grid-element__main" hideIfEmpty="true">
      <f:render section="Main" arguments="{gridElement: gridElement, data: data}" />
    </b:tag>

    <f:render partial="GridElements/Shared/Footer" arguments="{gridElement: gridElement, data: data}" />
  </f:section>

  <f:section name="Main">
    <f:if condition="{data.tx_gridelements_view_children}">
      <f:for each="{data.tx_gridelements_view_children}" as="viewChild">
        <b:variable name="uid" value="{viewChild.uid}" />

        <b:tag name="div" class="{gridElement}__view-child grid-element__view-child" hideIfEmpty="true">
          <f:format.raw>{data.tx_gridelements_view_child_{uid}}</f:format.raw>
        </b:tag>
      </f:for>
    </f:if>
  </f:section>
</html>
