<html data-namespace-typo3-fluid="true" lang="en" xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
      xmlns:t3v="http://typo3.org/ns/T3v/T3vCore/ViewHelpers" xmlns:v="http://typo3.org/ns/FluidTYPO3/Vhs/ViewHelpers">
  <v:variable.set name="contentObject" value="t3v-base-background" />
  <v:variable.set name="uid" value="{v:variable.convert(value: data.uid, type: 'integer', default: 0)}" />
  <v:variable.set name="name" value="{v:variable.convert(value: settings.name, type: 'string')}" />
  <v:variable.set name="title" value="{v:variable.convert(value: settings.title, type: 'string')}" />
  <v:variable.set name="alt" value="{v:variable.convert(value: settings.alt, type: 'string')}" />
  <v:variable.set name="link" value="{v:variable.convert(value: settings.link, type: 'string')}" />
  <v:variable.set name="type" value="{v:variable.convert(value: settings.type, type: 'string', default: 'default')}" />
  <v:variable.set name="handle" value="{v:variable.convert(value: settings.handle, type: 'string', default: 'none')}" />
  <v:variable.set name="layout" value="{v:variable.convert(value: settings.layout, type: 'string', default: 'default')}" />
  <v:variable.set name="layout" value="{v:format.replace(content: layout, substring: ',', replacement: ' ')}" />
  <v:variable.set name="backgroundColor" value="{v:variable.convert(value: settings.backgroundColor, type: 'string')}" />
  <v:variable.set name="backgroundImages" value="{v:variable.convert(value: settings.backgroundImages, type: 'array')}" />
  <v:variable.set name="backgroundPosition" value="{v:variable.convert(value: settings.backgroundPosition, type: 'string')}" />
  <v:variable.set name="backgroundRepeat" value="{v:variable.convert(value: settings.backgroundRepeat, type: 'string')}" />
  <v:variable.set name="backgroundSize" value="{v:variable.convert(value: settings.backgroundSize, type: 'string')}" />
  <v:variable.set name="height" value="{v:variable.convert(value: settings.height, type: 'integer', default: 0)}" />
  <v:variable.set name="width" value="{v:variable.convert(value: settings.width, type: 'integer', default: 0)}" />

  <f:if condition="{handle}">
    <v:variable.set name="handle" value="{t3v:handle(input: handle)}" />
  </f:if>

  <f:if condition="{backgroundImages}">
    <v:variable.set name="backgroundImage" value="{backgroundImages -> v:iterator.first()}" />
  </f:if>

  <f:switch expression="{type}">
    <f:case value="image">
      <f:render partial="ContentObjects/Background/Image" arguments="{_all}" />
    </f:case>

    <f:defaultCase>
      <f:render partial="ContentObjects/Background/Default" arguments="{_all}" />
    </f:defaultCase>
  </f:switch>
</html>
