<html data-namespace-typo3-fluid="true" lang="en" xmlns:b="http://typo3.org/ns/T3v/T3vBase/ViewHelpers"
      xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers">
  <b:variable name="signature" value="t3v-base-link" />
  <b:variable name="uid" value="{b:variable.convert(value: data.uid, type: 'integer', default: 0)}" />
  <b:variable name="type" value="{b:variable.convert(value: settings.type, type: 'string', default: 'default')}" />
  <b:variable name="handle" value="{b:variable.convert(value: settings.handle, type: 'string', default: 'none')}" />
  <b:variable name="layout" value="{b:variable.convert(value: settings.layout, type: 'string', default: 'default')}" />
  <b:variable name="layout" value="{b:format.replace(content: layout, substring: ',', replacement: ' ')}" />
  <b:variable name="name" value="{b:variable.convert(value: settings.name, type: 'string')}" />
  <b:variable name="title" value="{b:variable.convert(value: settings.title, type: 'string')}" />
  <b:variable name="page" value="{b:variable.convert(value: settings.page, type: 'integer')}" />
  <b:variable name="link" value="{b:variable.convert(value: settings.link, type: 'string')}" />

  <f:if condition="{handle}">
    <b:variable name="handle" value="{b:handle(input: handle)}" />
  </f:if>

  <f:switch expression="{type}">
    <f:defaultCase>
      <f:render partial="ContentObjects/Link/Default" arguments="{_all}" />
    </f:defaultCase>
  </f:switch>
</html>
