<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" xmlns:t3v="http://typo3.org/ns/T3v/T3vCore/ViewHelpers"
      xmlns:v="http://typo3.org/ns/FluidTYPO3/Vhs/ViewHelpers" data-namespace-typo3-fluid="true">
  <v:variable.set name="contentObject" value="t3v-base-link" />
  <v:variable.set name="uid" value="{v:variable.convert(value: data.uid, type: 'integer', default: 0)}" />
  <v:variable.set name="type" value="{v:variable.convert(value: settings.type, type: 'string', default: 'default')}" />
  <v:variable.set name="handle" value="{v:variable.convert(value: settings.handle, type: 'string', default: 'none')}" />
  <v:variable.set name="layout" value="{v:variable.convert(value: settings.layout, type: 'string', default: 'default')}" />
  <v:variable.set name="name" value="{v:variable.convert(value: settings.name, type: 'string')}" />
  <v:variable.set name="title" value="{v:variable.convert(value: settings.title, type: 'string')}" />
  <v:variable.set name="page" value="{v:variable.convert(value: settings.page, type: 'integer')}" />
  <v:variable.set name="link" value="{v:variable.convert(value: settings.link, type: 'string')}" />

  <f:if condition="{handle}">
    <v:variable.set name="handle" value="{t3v:handle(input: handle)}" />
  </f:if>

  <f:if condition="{page}">
    <f:then>
      <f:link.page pageUid="{page}" id="c{uid}" class="{contentObject} content-object" title="{title}"
                   data="{type: type, handle: handle, layout: layout}">
        {name}
      </f:link.page>
    </f:then>

    <f:else if="{link}">
      <f:link.typolink parameter="{link}" class="{contentObject} content-object" title="{title}"
                       additionalAttributes="{id: 'c{uid}' , data-type: type, data-handle: handle, data-layout: layout}">
        {name}
      </f:link.typolink>
    </f:else>
  </f:if>
</html>
