<html data-namespace-typo3-fluid="true" lang="en" xmlns:b="http://typo3.org/ns/T3v/T3vBase/ViewHelpers"
      xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers">
  <b:variable name="signature" value="t3v-base-spacer" />
  <b:variable name="uid" value="{b:variable.convert(value: data.uid, type: 'integer')}" />
  <b:variable name="id" value="c{uid}" />
  <b:variable name="tag" value="{signature}" />
  <b:variable name="type" value="{b:variable.convert(value: settings.type, type: 'string', default: 'default')}" />
  <b:variable name="handle" value="{b:variable.convert(value: settings.handle, type: 'string', default: 'none')}" />
  <b:variable name="handle" value="{b:format.handle(input: handle)}" />
  <b:variable name="customHeight" value="{b:variable.convert(value: settings.customHeight, type: 'integer')}" />
  <b:variable name="layout" value="{b:variable.convert(value: settings.layout, type: 'string', default: 'default')}" />
  <b:variable name="layout" value="{b:format.replace(content: layout, substring: ',', replacement: ' ')}" />

  <f:switch expression="{type}">
    <f:case value="custom">
      <f:render partial="ContentObjects/Spacer/Custom" arguments="{_all}" />
    </f:case>

    <f:defaultCase>
      <f:render partial="ContentObjects/Spacer/Default" arguments="{_all}" />
    </f:defaultCase>
  </f:switch>
</html>
