<html data-namespace-typo3-fluid="true" lang="en" xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
      xmlns:t3v="http://typo3.org/ns/T3v/T3vCore/ViewHelpers" xmlns:v="http://typo3.org/ns/FluidTYPO3/Vhs/ViewHelpers">
  <v:variable.set name="contentObject" value="t3v-base-spacer" />
  <v:variable.set name="uid" value="{v:variable.convert(value: data.uid, type: 'integer', default: 0)}" />
  <v:variable.set name="type" value="{v:variable.convert(value: settings.type, type: 'string', default: 'default')}" />
  <v:variable.set name="handle" value="{v:variable.convert(value: settings.handle, type: 'string', default: 'none')}" />
  <v:variable.set name="layout" value="{v:variable.convert(value: settings.layout, type: 'string', default: 'default')}" />
  <v:variable.set name="layout" value="{v:format.replace(content: layout, substring: ',', replacement: ' ')}" />

  <f:if condition="{handle}">
    <v:variable.set name="handle" value="{t3v:handle(input: handle)}" />
  </f:if>

  <f:switch expression="{type}">
    <f:case value="custom">
      <f:if condition="{settings.customHeight}">
        <f:then>
          <v:variable.set name="style" value="height: {settings.customHeight}px;" />

          <v:tag name="{contentObject}" id="c{uid}" class="{contentObject} content-object"
                 additionalAttributes="{type: type, handle: handle, layout: layout}" style="{style}"
                 hideIfEmpty="false" forceClosingTag="true" />
        </f:then>

        <f:else>
          <v:tag name="{contentObject}" id="c{uid}" class="{contentObject} content-object"
                 additionalAttributes="{type: type, handle: handle, layout: layout}" hideIfEmpty="false" forceClosingTag="true" />
        </f:else>
      </f:if>
    </f:case>

    <f:defaultCase>
      <v:tag name="{contentObject}" id="c{uid}" class="{contentObject} content-object"
             additionalAttributes="{type: type, handle: handle, layout: layout}" hideIfEmpty="false" forceClosingTag="true" />
    </f:defaultCase>
  </f:switch>
</html>
