<html data-namespace-typo3-fluid="true" lang="en" xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
      xmlns:v="http://typo3.org/ns/FluidTYPO3/Vhs/ViewHelpers">
  <f:if condition="{page}">
    <f:then>
      <f:render section="PageLink" arguments="{_all}" />
    </f:then>

    <f:else if="{link}">
      <f:render section="Typolink" arguments="{_all}" />
    </f:else>
  </f:if>

  <f:section name="PageLink">
    <f:link.page pageUid="{page}" id="c{uid}" class="{signature} content-object" title="{title}"
                 data="{type: type, handle: handle, layout: layout}">
      {name}
    </f:link.page>
  </f:section>

  <f:section name="Typolink">
    <v:variable.set name="firstCharacter" value="{v:format.substring(content: link, start: 0, length: 1)}" />

    <f:if condition="{firstCharacter} == '#'">
      <f:then>
        <v:tag name="a" id="c{uid}" class="{signature} content-object" title="{title}" additionalAttributes="{href: '#'}"
               data="{type: type, handle: handle, layout: layout}" hideIfEmpty="true">
          {name}
        </v:tag>
      </f:then>

      <f:else>
        <f:link.typolink parameter="{link}" class="{signature} content-object" title="{title}"
                         additionalAttributes="{id: 'c{uid}' , data-type: type, data-handle: handle, data-layout: layout}">
          {name}
        </f:link.typolink>
      </f:else>
    </f:if>
  </f:section>
</html>
