<html data-namespace-typo3-fluid="true" lang="en" xmlns:b="http://typo3.org/ns/T3v/T3vBase/ViewHelpers"
      xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers">
  <f:if condition="{customHeight}">
    <f:then>
      <b:variable name="style" value="height: {customHeight}px;" />

      <b:tag name="{signature}" id="c{uid}" class="{signature} content-object"
             additionalAttributes="{type: type, handle: handle, layout: layout}" style="{style}" hideIfEmpty="false"
             forceClosingTag="true" />
    </f:then>

    <f:else>
      <b:tag name="{signature}" id="c{uid}" class="{signature} content-object"
            additionalAttributes="{type: type, handle: handle, layout: layout}" hideIfEmpty="false" forceClosingTag="true" />
    </f:else>
  </f:if>
</html>
