<html data-namespace-typo3-fluid="true" lang="en" xmlns:b="http://typo3.org/ns/T3v/T3vBase/ViewHelpers"
      xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers">
  <b:tag name="div" class="{gridElement}__flash-messages grid-element__flash-messages" hideIfEmpty="true">
    <b:tag name="ul" class="flash-messages" hideIfEmpty="true">
      <f:flashMessages as="flashMessages">
        <f:for each="{flashMessages}" as="flashMessage">
          <b:variable name="class" value="{b:format.replace(substring: 'alert-', content: flashMessage.class)}" />

          <li class="flash-message--{class} flash-message">
            <f:if condition="{flashMessage.title}">
              <span class="flash-message__title">{flashMessage.title}</span>
            </f:if>

            <span class="flash-message__message">{flashMessage.message}</span>
          </li>
        </f:for>
      </f:flashMessages>
    </b:tag>
  </v:tag>
</html>
