<html data-namespace-typo3-fluid="true" lang="en" xmlns:b="http://typo3.org/ns/T3v/T3vBase/ViewHelpers"
      xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers">
  <b:variable name="title" value="{data.header}" />
  <b:variable name="subtitle" value="{data.subheader}" />
  <b:variable name="link" value="{data.header_link}" />
  <b:variable name="date" value="{data.date}" />
  <b:variable name="layout" value="{data.header_layout}" />
  <b:variable name="position" value="{f:if(condition: data.header_position, then: '{data.header_position}', else: 'default')}" />

  <b:tag name="div" class="{gridElement}__header grid-element__header" data="{position: position}" hideIfEmpty="true">
    <f:if condition="{title} || {subtitle} || {date}">
      <f:if condition="{layout} != 0 && {layout} != 100">
        <f:render partial="GridElements/Shared/Header/Title" arguments="{
          gridElement: gridElement,
          title: title,
          link: link,
          layout: layout}" />

        <f:render partial="GridElements/Shared/Header/Subtitle" arguments="{
          gridElement: gridElement,
          subtitle: subtitle,
          layout: layout}" />

        <f:render partial="GridElements/Shared/Header/Date" arguments="{gridElement: gridElement, date: date}" />
      </f:if>
    </f:if>

    <f:format.raw>{data.tx_gridelements_view_column_10}</f:format.raw>
  </b:tag>
</html>
